# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite Database
*.db
*.sqlite
*.sqlite3
instance/

# Vercel
.vercel/

# Uploads / large files
static/uploads/*
*.exe
*.dll
*.so
*.dylib
*.mp4
*.zip
*.tar.gz
*.rar
*.pptx

# macOS
.DS_Store
